<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.forum.mapper.BlogMapper">
    <resultMap id="blog" type="com.xxx.forum.vo.BlogVo">
<!--        private Integer blId;-->
        <id column="bl_id" property="id"></id>
<!--        private String title;-->
        <result column="title" property="title"></result>
<!--        private String content;-->
        <result column="content" property="content"></result>
<!--        private String outline;-->
        <result column="outline" property="outline"></result>
<!--        private Integer recommend;-->
        <result column="recommend" property="recommend"></result>
<!--        private Integer commentable;-->
        <result column="commentable" property="commentable"></result>
<!--        private Integer published;-->
        <result column="published" property="published"></result>
<!--        private Integer views;-->
        <result column="views" property="views"></result>
<!--        private LocalDateTime createTime;-->
        <result column="createTime" property="createTime"></result>
<!--        private LocalDateTime updateTime;-->
        <result column="updateTime" property="updateTime"></result>
        <association column="ty_id" property="type" select="getType">
            <id column="ty_id" property="tyId"></id>
            <result column="name" property="name"></result>
        </association>
        <association column="au_id" property="author" select="getAuthor">
            <id column="us_id" property="auId"></id>
            <result column="name" property="name"></result>
        </association>
<!--        private List<Tag> tags;-->
        <collection property="tags" ofType="com.xxx.forum.pojo.Tag">
            <result column="ta_id" property="taId"></result>
            <result column="name" property="name"></result>
        </collection>
    </resultMap>
    <select id="getType" parameterType="int" resultType="com.xxx.forum.pojo.Type">
        select ty_id,name from t_type where ty_id = #{id}
    </select>
    <select id="getAuthor" parameterType="int" resultType="com.xxx.forum.pojo.Author">
        select us_id as auId,name from sys_user where us_id = #{id}
    </select>
    <select id="getTags" parameterType="int" resultType="collection">
        select t_tag.ta_id,t_tag.name from t_tag join t_blog_tag on t_tag.bl_id = t_blog_tag.bl_id where bl_id = #{id}
    </select>
    <select id="getTagBlogs" resultMap="blog">
        select bl_id,title,outline,recommend,views,ty_id,au_id,create_time,update_time from t_blog  where bl_id in
        (select t_blog_tag.bl_id from t_blog_tag join t_tag on t_blog_tag.ta_id = t_tag.ta_id where t_blog_tag.ta_id = #{id}) limit start,10
    </select>
    <select id="getTypeBlogs" resultMap="blog">
        select bl_id,title,outline,recommend,views,ty_id,au_id,create_time,update_time from t_blog  where ty_id ={id} limit #{start},10
    </select>
</mapper>