<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.forum.mapper.TagMapper">
    <insert id="insertBlogTags" >
        insert into t_blog_tag(bl_id,ta_id) values
        <foreach collection="tags" item="tag" separator=",">
            (#{blId},#{tag})
        </foreach>
    </insert>
    <insert id="addTag" parameterType="com.xxx.forum.pojo.Tag">
        insert into t_tag values(null,#{name},#{createTime},#{updateTime})
        <selectKey keyProperty="taId" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateTag">
        update t_tag set `name` = #{name},`updateTime` = #{updateTime}
    </update>

    <delete id="deleteBlogTags">
        delete * from t_blog_tag where bl_id = #{id}
    </delete>
    <delete id="deleteTagById">
        delete * from t_tag where ta_id = #{id}
    </delete>
    <select id="getAllTags" resultType="com.xxx.forum.pojo.Tag">
        select t_tag.ta_id ,t_tag.name from t_tag join t_blog_tag on t_tag.ta_id = t_blog_tag.ta_id group by ta_id order by count(*) desc
    </select>
    <select id="getTagById" resultType="com.xxx.forum.pojo.Tag">
        select * from t_tag ta_id = #{id}
    </select>
</mapper>